# importar librerias

In [4]:
import pandas as pd           #pandas libreria para trabajar con dataframes
import numpy as np            #numpy  libreria para trabajar con datos numericos en python
import matplotlib.pyplot as plt  #maplotlib libreria para trabajar con graficos 

import os                      #interactua con el sistema operativo

## ingestar archivo local

ruta = 'C:/Users/Marcelo/Desktop/archive/ranking.csv'
df= pd.read_csv(ruta)

# OPERACIONES CON COLUMNAS

## eliminar todas las columnas que tengan valores faltantes en todas sus filas

df.dropna(axis=1, how='all')

## reemplazar todos los valores vacios o NaN con un 0

In [ ]:
df.fillna(0, inplace=True)

## imprimir todos los nombres de columnas en un array

In [6]:
print (df.columns)

Index(['img', 'title', 'console', 'genre', 'publisher', 'developer',
       'critic_score', 'total_sales', 'na_sales', 'jp_sales', 'pal_sales',
       'other_sales', 'release_date', 'last_update'],
      dtype='object')

## eliminar columnas que no vamos a usar

In [ ]:
# hacer un array con todos los nombres de las columnas que queremos eliminar

col_elim= ['img', 'publisher', 'developer','release_date', 'last_update', 'critic_score','console']

#eliminar todas esas columnas

df = df.drop(col_elim, axis=1)

## renombrar columnas

In [ ]:
df= df.rename(columns={'total_sales':'ventas_totales'})

## filtrar por valor en una columna

df = df.drop(df[df["ventas_totales"] <= 1].index, axis=0)

#Mostrar el DataFrame resultante
print(df)

## agrupar por valor especifico, sumar todos los valores en las columnas restantes

In [ ]:
df_agrupado = df.groupby("nombre_juego").sum().reset_index()

## ordenar de mayor a menor por valores en una columna

In [ ]:
df_agrupado = df_agrupado.sort_values(by="ventas_totales", ascending=False)

## seleccionar columnas de dfs distintos y hacer uno nuevo con ellas

In [ ]:
# seleccionar los nombres de las columnas elegidas 
df1_selected = df1.loc[:, ['A', 'B']]
df2_selected = df2.loc[:, ['E', 'F']]

# Concatenar los DataFrames seleccionados
nuevo_df = pd.concat([df1_selected, df2_selected], axis=1)

## hacer un df con dos columnas y mostrar el promedio

In [ ]:
columna_a = 'A'
columna_c = 'C'

# Calcular el promedio de las columnas seleccionadas
promedio = (df[columna_a] + df[columna_c]) / 2

# Crear un nuevo DataFrame con el promedio en una tercera columna
nuevo_df = pd.DataFrame({columna_a: df[columna_a], columna_c: df[columna_c], 'Promedio': promedio})

print(nuevo_df)

## unir dos df por valor en columna especifica

In [ ]:
df_merged = pd.merge(df1, df2, on='clave', how='inner') #cambiar clave por la columna seleccionada

## operaciones con filas

# agregar una nueva fila

In [ ]:
nueva_fila = {'A': 10, 'B': 20}  # Nueva fila como un diccionario
  
# Agregar la nueva fila al DataFrame, ignore_index=True para reindexar las filas
df = df.append(nueva_fila, ignore_index=True)

# GUARDAR EL DF

###  exportar el df a excel o csv

In [ ]:
# Guardar DataFrame en un archivo CSV
df_procesado.to_csv('df_procesado.csv', index=False)  # index=False para no incluir el índice en el archivo CSV

# Guardar DataFrame en un archivo Excel
df_procesado.to_excel('df_procesado.xlsx', index=False)  # index=False para no incluir el índice en el archivo Excel

### exportar a sqlite

In [ ]:
import sqlite3

# Conectar a la base de datos SQLite
conn = sqlite3.connect('datos.db')

# Guardar DataFrame en una tabla en la base de datos SQLite
df_procesado.to_sql('tabla_datos', conn, index=False, if_exists='replace')  
# index=False para no incluir el índice como columna en la tabla
# if_exists='replace' para reemplazar la tabla si ya existe, 
#puedes cambiarlo a 'append' si quieres agregar datos a una tabla existente

# Cerrar la conexión a la base de datos
conn.close()